    <footer class="flex flex-right">
      <p class="h6">Website designed by <a href="https://sriram98v.github.io/cv/">Sriram Vijendran</a> ©Copyright 2050 by nobody. All rights reversed.</p>      
    </footer>