<nav class="navbar pa1">
      <div class="container">
        <div class="columns flex-between-md">
        <section class="column col-md-12 col-lg-6 flex flex-between-md">
        <div class="flex-column">
          <div class="h6">Computer Science Department @ ISU</div>
          <div class="h1">Computational Biology Research Team</div>
        </div>
        </section>
        <section class="column col-md-12 col-lg-6 flex flex-end flex-between-md pa1">
            {% for item in site.pages %}
                <a href="{{ item.url | url }}" class="btn btn-link mt1 h5">{{ item.name }}</a>
            {% endfor %}
        </section>
        </div>
      </div>
    </nav>