<div class="panel">
<div class="panel-header">
  <div class="panel-title text-center text-bold text-large">News</div>
</div>
<div class="panel-body">
    <div class="tile">
        <div class="tile-content">
            <a href="#" class="tile-title">Congratulations Sanket Wagle for publishing at RECOMB-CG 2023</a>
        </div>
      </div>
      <div class="tile">
        <div class="tile-content">
            <a href="#" class="tile-title">Congratulations Siddant Grover for publishing at ISMB 2023</a>
        </div>
      </div>
</div>