<div class="panel">
<div class="panel-header">
  <div class="panel-title text-center text-bold text-large">News</div>
</div>
<div class="panel-body">
    <div class="tile">
        <div class="tile-content">
            <a href="#" class="tile-title">Sanket Wagle presents "The Asymetric Cluster Affinity Cost" at Recomb-CG.</a>
        </div>
      </div>
      <div class="tile">
        <div class="tile-content">
            <a href="#" class="tile-title">Phylogenetic Diversity Statistics for all Clades in a Phylogeny, S. Grover, A. Markin,.T. Anderson, O. Eulenstein accepted by ISMB 2023.</a>
        </div>
      </div>
      <div class="tile">
        <div class="tile-content">
            <a href="#" class="tile-title">The Asymetric Cluster Affinity Cost,S. Wagle, A. Markin, P. Gorecki, T. Anderson, O. Eulenstein accepted by Recomb-CG 2023.</a>
        </div>
      </div>
</div>